* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
  color: white;
  font-family: 'Jost', sans-serif;
  padding: 0 20px 20px;
  min-width: 1280px;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header-logo,
.header-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-logo img {
  width: 100px;
}

.header-buttons a {
  text-decoration: none;
  color: white;
  padding: 10px 8px;
  border-radius: 5px;
  transition: .3s ease;
  transition-property: background-color, color;
}

.header-buttons a:hover {
  background-color: white;
  color: black;
}

#top-text::after {
  content: "5";
  font-size: 20px;
  font-weight: bold;
}

main {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  gap: 5px;
}

.top .top-item {
  width: 100%;
}

.item img {
  border-radius: 8px;
}

.first {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/*
  flex: 1 1 250px;
  Define el flex-grow (1) y flex-shrink (1) para que el elemento se expande o contrae en función de la cantidad de espacio disponible.
  Por último, flex-basis (250px) define el tamaño inicial del elemento.
*/
.first .item {
  flex: 1 1 250px;
}

.second {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.second .item {
  min-width: 250px;
  width: 100%;
  flex: 1 1 0;
}

.top-item,
.item {
  & img {
    width: 100%;
    object-fit: cover;
    height: auto;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

}

@media (width <=1280px) {
  body {
    min-width: auto;
  }

  .platform-title {
    display: none;
  }

  .top-item:nth-child(4),
  .top-item:nth-child(5) {
    display: none;
  }

  #top-text::after {
    content: "3";
  }
}

@media (width <=768px) {

  .section-title,
  #top-text::after {
    font-size: 2rem;
  }

  .top {
    grid-template-columns: 1fr;
    justify-items: center;

    & .top-item {
      width: 80%;
    }
  }
}